
@{
    ViewBag.Title = "Waring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Waring Message</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h3>Please leave you message:</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Message</label>
            <div class="col-md-10">
                <input type="hidden" value="@ViewBag.UID" name="UID" id="UID"/>
                <textarea name="Message1" id="Message1" class="form-control" style="width:500px;height:100px;"></textarea>
                <div id="error"></div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" id="btn" />
            </div>
        </div>

    </div>
}

