
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Please enter your password:</label>
        <div class="col-md-10">
            <input type="password" name="Password1" class="form-control" />

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Please enter your password again:</label>
        <div class="col-md-10">
            <input type="password" name="Password2" class="form-control" />
        </div>
    </div>
    <span class="text-danger">@ViewBag.Msg</span>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirm" class="btn btn-success" />
        </div>
    </div>
</div>
}

