@using LostandFound.Models;
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    $(function () {
        $.ajax({
            "url": "/Home/GetMessage",        //要提交的URL路径
            "type": "GET",				//发送请求的方式
            "dataType": "json",			//指定返回的数据格式
            "success": function (data) {
                debugger;
                if (data.b_result == "True") {
                    alert(data.str_s);
                }
            }
        });
    });
</script>
<div class="jumbotron">
    <h1>WelCome Page</h1>
    <p class="lead">This is a website platform that can publish lost and claimed, and publish lost property, I hope to help you!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" id="list" style="height:450px;overflow:hidden">
    <h3>Latest news</h3>
    <hr />
    @foreach (var item in ViewData["Goods"] as List<Goods>)
    {
        <div class="col-md-4" style="text-align:center;">
            <h2>@item.GoodsName</h2>
            <p>
                <img src="@item.GoodsImage" width="200" height="200" />
            </p>
            <p>@item.Date</p>
            <p><a class="btn btn-default" href="/News/Details?id=@item.GID">Details &raquo;</a></p>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function () {
        setInterval(show, 2000);
    });
    function show() {
        var div = $(".col-md-4").eq(0);

        $(".col-md-4").eq(0).remove();
        $("#list").append(div);
    }
</script>
