
@{
    ViewBag.Title = "ItemManagenment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ItemManagenment</h2>

<p><a class="btn btn-default" href="/News/Finished">Findshed Tasks</a></p>
<br />
<p><a class="btn btn-default" href="/News/Progress">In Progress Tasks</a></p>

<br />
<p><a class="btn btn-default" href="/News/Approve">Approve Tasks</a></p>


